<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cost Graph</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <h1>Cost Graph</h1>

    <div class="slider">
        <input type="range" min="0" max="100" value="0" class="slider__range" id="slider">
        <div class="slider__bar" id="slider-bar">
            <div class="slider__indicator" id="slider-indicator">0%</div>
        </div>
    </div>
    <div id="mean-values">
        <p>Mean Climate Friendly: <span id="mean-climate-friendly"></span></p>
        <p>Mean Balanced Climate: <span id="mean-balanced-climate"></span></p>
        <p>Mean Price Worthy: <span id="mean-price-worthy"></span></p>
        <p>Mean Price Price: <span id="mean-price-price"></span></p>
    </div>

    <canvas id="myChart" class="sizeGraph"></canvas>

 <script src="static/js/script.js"></script>
</body>

</html>